[submodule "Lab1"]
	path = Lab1
	url = https://github.com/mohammadsaadati80/xv6-Introduction.git
[submodule "Lab2"]
	path = Lab2
	url = https://github.com/mohammadsaadati80/xv6-System-Calls.git
[submodule "Lab3"]
	path = Lab3
	url = https://github.com/mohammadsaadati80/xv6-Process-Scheduling.git
[submodule "Lab4"]
	path = Lab4
	url = https://github.com/mohammadsaadati80/xv6-Synchronization.git
[submodule "Lab5"]
	path = Lab5
	url = https://github.com/mohammadsaadati80/xv6-mmap.git
